* {
    margin: 0;
    padding: 0;
}

body {
	background-color: #2C2F33;
	color: white;
    font-family: 'PT Sans', sans-serif;
    cursor: default;
}

h4 {
	margin-bottom: 10px;
}

ul {
	padding-left: 10px;
}

a:link, a:visited {
  color: #97A9E8;
  text-decoration: underline;
  cursor: pointer;
}

.wrapper {
	display: grid;
	grid-template-columns: [wrapper-start] repeat(12, 1fr) [wrapper-end];
	grid-row-gap: 1%;
}

.header {
	grid-column: wrapper;
  
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	height: 30px;
}

.header a {
	color: white;

	text-decoration: none;
	margin: 8px;
	line-height: 20px;
}

.header a:hover {
	font-size: 120%;
}

.header_support_link {
	padding: 5px;
}

.header_docs_link {
	padding: 5px;
}

.title {
	margin: 30px;
	
	text-align: center;

	grid-column: 4 / -4;

	background-color: #23272A;
	color: #7289DA;
	border-radius: 4px;
  	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.6);
}

.sub_title {
	font-family: monospace;
	padding: 10px;
}

.mega_title {
	font-size: 300%;
	padding: 20px;
}

.card {
  	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.4);
  	transition: 0.3s;
  	border-radius: 5px;
  	padding: 5px 16px;
  	margin: 5px;
}

.card:hover {
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.card_wrapper {
	grid-column: 3 / -3;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.reasons {
	color: black;
}

.features .card_wrapper {
	align-items: flex-start;
}

.features .card {
	/* background-color: #23272A; */
	background-color: #2f3136;

	min-height: 80px;
  	width: 420px;
  	margin: 10px 10px;
  	margin-top: 20px;
}

.avatar {
 	max-width: 100%;
  	height: auto;
  	margin: 5px;

  	align-self: center;
}

.name {
	align-self: center;
}

.id {
	padding: 2px;
	align-self: center;
	font-size: x-small;
}

.id:hover {
	font-size: small;
}

.bot_list .card {	
	background-color: #7289DA;

	margin: 30px;
	width: 150px;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	color: #23272A;
}

.bot_list .card:hover {
	background-color: #5F78D4;
}

a.card {
	text-decoration: none;
}

.reasons .card {
	color: white;

	border: 3px;
	border-style: solid;
	border-color: #7289DA;
  	box-shadow: 0 10px 12px 0 rgba(0,0,0,0.4);


	max-width: 250px;
  	min-height: 150px;
  	margin: 10px 10px;
}

.statistics {
	margin: 50px;
}

.statistics_card {
	background-color: #4C69D4	;

	/* color: black; */
	color: white;
	box-shadow: 2px 9px 12px 0 rgba(0,0,0,0.6);

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	grid-auto-flow: row dense;

	transition: 0.1s;

	margin: 10px;
	margin-right: 5px;
	margin-left: 5px;

	min-width: 450px;

	text-align: center;
}

.statistics_date {
  	transition: 0.1s;
    display: inline;
  	font-size: 0;
    grid-column: 2 / -1;
    width: 100%;

}

.statistics_card:hover .statistics_date {
    font-size: smaller;
}

.statistics_card:hover {
	padding: 10px;
}

.coin {
	grid-column: 2 / -1;
	border-bottom: 2px;
	border-bottom-color: black;
	border-bottom-style: solid;

	width: 95%;
	text-align: center;
	margin: 5px;
}

.value {
	padding: 3px;
}

picture.coin_logo {
	align-self: center;
	grid-column: 1;
	grid-row: 1 / 3;

	max-height: 100px;

	padding: 5px;
}

.coin_logo img {
	max-height: inherit;
}

.links {
	grid-column: wrapper;
	color: white;
	background-color: #99AAB5;

	margin-top: 50px;

	display: flex;
	justify-content: center;
}

.links a {
	color: black;
	font-size: 110%;
}

.link {
	max-height: 50px;
}

.footer {
	grid-column: wrapper;
	
	background-color: #23272A;

	display: flex;
	justify-content: center;

	height: 40px;
}

.footer div {
	text-align: center;
	align-self: center;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: middle;

	height: 20px;
}

.footer div a {
	text-decoration: none;
	color: white;
}

.crystal_img {
	max-height: 20px;
	vertical-align: bottom;
}

@media (max-width:480px)  {
	.wrapper {
		grid-template-columns: [wrapper-start] repeat(40, 1fr) [wrapper-end];
	}

	.bot_list .card {
		margin: 15px;
	}

	.statistics {
		margin: 10px;
	}

	.statistics_card {
		min-width: auto;
		padding: 20px;
	}

	picture.coin_logo {
		max-height: 30px;

		padding: 0;
	}

	.features .card {
		padding: 10px 16px;
	}
}

@media (max-width:845px)  {
	.title {
		margin: 15px;
		grid-column: 2 / -2;
	}

	.statistics_card {
		min-width: 150px;
		padding: 10px;

		display: flex;
		flex-direction: column;
	}
}

@font-face {
  	font-family: 'PT Sans';
  	font-style: normal;
	font-display: optional;
  	font-weight: 400;
  	src: local('PT Sans'), local('PTSans-Regular'),
    	url('../fonts/pt-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       	url('../fonts/pt-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
