<html>
<head>
<title>Discord Tip Bot</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    }

.active {
    background-color: Orange;
    }
    </style>
    </head>

    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/balance">Balance</a></li>
    <li><a href="/statistics">Statistics</a></li>
    <li><a href="/transactions">Transactions</a></li>
  <li style="float:right"><a href="/auth">Login</a></li>
  <li style="float:right"><a href="/logout">Logout</a></li>
  </ul>
<body>
  <%= content %>
</body>
</html>

