<html>
<head>
<title>Discord Tip Bot</title>
<style>
ul {
background-color: Orange;
border: 4px solid Tomato;
    list-style-type: none;
    margin: 1% 2%;
    padding: 0;
    }
    a:link, a:visited {
    background-color: Green;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    }

    a:active {
    background-color: #4CAF50;
    color: white;
    }
    li {display: inline;}
    </style>
    </head>

    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/balance">Balance</a></li>
  <li><a href="/auth">Login</a></li>
  <li><a href="/logout">Logout</a></li>
  </ul>
<body>
  <%= content %>
</body>
</html>

