<html>
        <body>
                <h1>Welcome to the Discord Tip Bot Website.</h1>
                <p>Currenty this site does not really have any functionality</p>
                
                <a href="/auth">Sign in with Discord</a>
        </body> 
</html> 
