<style>
table, th, td {
border: 1px solid black;
     border-collapse: collapse;
     }
     th, td { padding: 5px; }
</style>
<table style="width:100%; border: 1px solid black">
<tr>
<th>From</th>
<th>To</th>
<th>Amount</th>
<th>Time</th>
</tr>
<% transactions.each do |trans| %>
	<tr>
	<td><%= trans.from_id %></td>
	<td><%= trans.to_id %></td>
	<td><%= trans.amount %></td>
	<td><%= trans.time %></td>
	</tr>
<% end %>
</table>
