.login_wrapper {
	display: grid;
	grid-template-columns: 3fr [login] 1fr [login] 3fr;
	grid-template-rows: 2fr 1fr [login] 1fr [login] 1fr;
}

.login {
	grid-area: login;
	display: flex;
	flex-direction: column;
}

.login_notif {
	grid-row: 2;
	grid-column: login;
}