<html>
<body>
	<title>Balance</title>
	<p>
		<% coins = TB::Data::Coin.read_all %>
		<% TB::Data::Account.read(user).balances.each do |bal| %>
			<% coin = coins[bal.coin] %>
			<%= "#{coin.name_long}: #{bal.balance} #{coin.name_short}" %>
		<% end %>
	</p>
</body>
</html>