<html>
<body>
	<title>Deposit</title>
	<p>
		<% tmp_coin_list = TB::Data::Coin.read_all %>
		<% TB::Data::DepositAddress.read_all_active_for_account(user.to_i32).each do |deposit| %>
			<%= "#{tmp_coin_list[deposit.coin].name_long}: #{deposit.address}" %>
			<small><%="Generated at #{deposit.created_time}" %></small>
			<% tmp_coin_list.delete(deposit.coin) %>
			<br>
		<% end %>
		<% tmp_coin_list.each_value do |coin| %>
			<form method="post" action="/api/generate_deposit_address?coin=<%= coin.id%>">
				<%= "#{coin.name_long}: " %>
				<button type="submit">Generate Deposit Address</button>
			</form>
			<br>
		<% end %>
	</p>
</body>
</html>